.products{
    width: calc(100vw - 220px);
    height: 600px;
    flex: 4;
    overflow: hidden;
    margin-left: 220px;
   
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px ;
    padding-left: 40px;
    padding-right: 40px;
}
.productTitle{
    font-size: 26px;
  
}
.productAddButton{
     width: 80px;
     border: none;
     padding: 10px;
     background-color: black;
     color: white;
     border-radius: 5px;
     font-size: 15px;
     cursor: pointer;
}
.productAddButton:hover{
    background-color: gold;
    color: black;

}
.productTop{
    display: flex;
}

.productTopLeft{
    flex: 1;
}
.productTopRight{
    flex: 1;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 4px 10px 34px -4px rgb(214, 206, 206); 
    box-shadow: 4px 10px 34px -4px rgb(214, 207, 207);

}
.productinfoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.productInfoTop{
    display: flex;
    align-items: baseline;
    position: relative;

}
.productName{
    font-weight: 600;
    left:60px;
    top: 15px;
    position: absolute;
    

}
.productInfoBottom{
    margin-top: 10px;

}
.productInfoItem{
    width: 150px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.productInfoValue{
    font-weight: lighter;
    font-size: 14px;
}
.productInfoKey{
    font-weight: 600;
    font-size: 14px;
}

.productBottom{
    flex: 1;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 4px 10px 34px -4px rgb(214, 206, 206); 
    box-shadow: 4px 10px 34px -4px rgb(214, 207, 207);

}
.productform{
    display: flex;
    justify-content: space-between;
}
 .productformleft{
     display: flex;
     flex-direction: column;
 }
 .productformleft>label{
     margin-bottom: 10px;
     color: grey;
 }
 .productformleft>input{
     margin-bottom: 10px;
     border: none;
     padding: 5px;
     border-bottom: 1px solid grey;

 }
 .productformleft>select{
     margin-bottom: 10px;
 }
 .productuploadimg{
     width: 100px;
     height: 100px;
     border-radius: 10px;
     object-fit: cover;
     margin-right: 20px;
 }
 .productformright{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .productupload{
     display: flex;
     align-items: center;

 }
 .productButton{
     border:none;
     padding: 10px;
     background-color: black;
     color: white;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
 }